html
	head
		title Push App
		script(src='http://code.jquery.com/jquery-2.2.4.js', integrity='sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=', crossorigin='anonymous')
	body
		h1= header
		button.send-push(name='foo', value='push') Push
		script(type='text/javascript').
			$('.send-push').on('click', function() {
				$.post( "https://api.wonderpush.com/v1/management/deliveries?accessToken=YmZmYTFhYzg0MjY4ZjZkNmNmMjA0N2UwMTQyZjhiNDQxNGU1N2U5YjI1NTEyNjg4ZmQwYzEyZWZkZjMxMDc1Mg", 	{
						"targetSegmentIds": "@ALL",
						"notification": {
								"alert": {
									"text": "push http"
								}
						}
				})
			})
			
			

